{%extends "homepage.html" %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Us: </h1>
    <p>To reach our customer service team please email us at:customerservicesangrajgrocerystore.com</p>
    <h1>Office Address:</h1>
    <p>JALGAON,</p>
    <p>SRNO: 139</p>
    <p>VARCHI AALI NEAR SANT SAVATA MANDIR</p>
    <p>NASHIRABAD,JALGAON- 425309</p>
    <p>OPEN 24 HOURS</p>
    <p>MONDAY TO SATURDAY</p>
    <p style="color:red;">Tel: 1860-123-1000</p>

    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/media/images/office1.jpg">
              <img src="/media/images/office1.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <p>Personal Seat...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/media/images/office2.jpg">
              <img src="/media/images/office2.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <p>Meeting hall...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/media/images/office4.jpg">
              <img src="/media/images/office4.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <p>Employees Working Hall...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
</div>

</body>
</html>
{%endblock%}
