{%extends "homepage.html" %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
    <h4><center>SANGRAJ GROCERY STORE IN THE MEDIA</center></h4>
    <img src="media/images/news.jpg" alt="" height="30%" width="30%" class="center">

    <P>OCTOBER 13, 2016
    <p><h2 style="color:red;">LiveMint</h2></p>
    <P>SANGRAJ: DELIVERING THE GOODS</P></P>
    <hr class="solid">

    <P>SEPTEMBER 8, 2016
    <p><h2 style="color:red;">Business Standard</h2></p>
    <P>SANGRAJ TARGETS RS 2,000-CR REVENUE IN 2016-17</P></P>
    <hr class="solid">

    <P>MAY 9, 2016
    <p><h2 style="color:red;">TechInAsia</h2></p>
    <P>SANGRAJ SECRET TO HANDLING 35,000 ORDERS A DAY, WHERE EVEN AMAZON FUMBLES</P></P>
    <hr class="solid">

    <P>FEBRUARY 4, 2016
    <p><h2 style="color:red;">YourStory</h2></p>
    <P>JALGAON-BASED ONLINE GROCERY FIRM SANGRAJ IS SET TO CREATE AN ORGANIC REVOLUTION IN INDIA</P></P>
    <hr class="solid">
    

</body>
</html>
{%endblock%}